<!DOCTYPE html>
<html lang="en" data-bs-core="elegant" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <title>Rithwik Erabelly</title>
    <meta name="description" content="Personal website.">
    <link rel="canonical" href="https://www.erabelly.com/rithwik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Meta Tags -->
    <!-- <meta property="og:url" content="https://ssi.inc">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Safe Superintelligence Inc.">
    <meta property="og:description"
        content="The world's first straight-shot SSI lab, with one goal and one product: a safe superintelligence.">
    <meta property="og:image" content="https://ssi.inc/public/og-preview.jpg"> -->

    <!-- Twitter Meta Tags -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ssi">
    <meta property="twitter:domain" content="ssi.inc">
    <meta property="twitter:url" content="https://ssi.inc">
    <meta name="twitter:title" content="Safe Superintelligence Inc.">
    <meta name="twitter:description"
        content="The world's first straight-shot SSI lab, with one goal and one product: a safe superintelligence.">
    <meta name="twitter:image" content="https://ssi.inc/public/og-preview.jpg"> -->

    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet"
        integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous" />

    <!-- Or just include all the core themes together: -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/cores/halfmoon.cores.css" rel="stylesheet"
        integrity="sha256-MAzAVJMU/ze52ZHcA8CeqRrCOVndMZlHwNeS2c73vP4=" crossorigin="anonymous" />

    <style>
        body {
            line-height: 1.4;
            font-size: 16px;
            padding: 0 10px;
            margin: 50px auto;
            max-width: 650px;
        }

        #maincontent {
            max-width: 42em;
            margin: 15 auto;
        }
    </style>
</head>


<body data-new-gr-c-s-check-loaded="14.1229.0" data-gr-ext-installed="">
    <div id="maincontent" style="margin-top:70px">
        <h2 style="margin-bottom:2px;">Rithwik Erabelly</h2>
        <div style="margin-bottom:30px;"><i>This site is currently under construction.
                Inspired by <a href="https://ssi.inc" target="_blank" rel="noopener noreferrer">this</a>.</i>
        </div>

        <p><b>Products</b></p>
        <ul>
            <li><a href="https://www.jumpseatapp.com/" target="_blank" rel="noopener noreferrer">Jumpseat</a> for
                Purdue, IU, and UIUC students to find the right flight and shuttle combinations home. 100 searches/day.
            </li>
            <li><a href="https://shuttle.jumpseatapp.com/" target="_blank" rel="noopener noreferrer">Portal</a> for
                airport shuttle companies looking for the only non-outdated software in the industry. 78k online
                bookings/year.</li>
            <li><a href="https://www.svasa.ai/" target="_blank" rel="noopener noreferrer">Svasa AI</a> to make AI
                conscious. 0 AI organisms created.</li>
        </ul>

        <!-- <p><b>Superintelligence is within reach.</b></p>
        <p>Building safe superintelligence (SSI) is the most important technical problem of our​​ time.</p>
        <p>We have started the world's first straight-shot SSI lab, with one goal and one product: a safe
            superintelligence.</p>
        <p>It's called Safe Superintelligence Inc.</p>
        <p>SSI is our mission, our name, and our entire product roadmap, because it is our sole focus. Our team,
            investors, and business model are all aligned to achieve SSI.</p>
        <p>We approach safety and capabilities in tandem, as technical problems to be solved through revolutionary
            engineering and scientific breakthroughs. We plan to advance capabilities as fast as possible while making
            sure our safety always remains ahead.</p>
        <p>This way, we can scale in peace.</p>
        <p>Our singular focus means no distraction by management overhead or product cycles, and our business model
            means safety, security, and progress are all insulated from short-term commercial pressures. </p>
        <p>We are an American company with offices in Palo Alto and Tel Aviv, where we have deep roots and the ability
            to recruit top technical talent.</p>
        <p>We are assembling a lean, cracked team of the world's best engineers and researchers dedicated to focusing on
            SSI and nothing else. </p>
        <p>If that's you, we offer an opportunity to do your life's work and help solve the most important technical
            challenge of our age.</p> -->
        <p>Please check back soon.
            <br>
        </p>
        <p>Rithwik Erabelly</p>
        <p>March 29, 2025</p>
        <a href="mailto:rithwik.erabelly@gmail.com" target="_blank" rel="noopener noreferrer">Contact</a>
    </div>

    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
</body>

</html>